/*
 * @version 1.0
*/
.nav--header, .container, .site-footer {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  max-width: 1368px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font: normal normal 1.6rem/1.3 "helvetica", "sans-serif";
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "helvetica", "sans-serif";
  font-weight: inherit;
  margin: 2rem 0 1rem;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 4.2rem;
}

h2 {
  font-size: 3.8rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.6rem;
}

h5 {
  font-size: 2.1rem;
}

h6 {
  font-size: 1.7rem;
}

p {
  font-size: 1.7rem;
  line-height: 1.55;
  margin-bottom: 1.3333333333rem;
}

ul, ol {
  font-size: 1.7rem;
  padding-left: 15px;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

b,
strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  transition: .3s all ease-in-out;
  text-decoration: none;
  color: #F1533A;
}
a:focus, a:hover {
  color: #000000;
}

small {
  font-size: 13px;
  font-size: 1.3rem;
}

button,
.button,
input[type="submit"],
input[type="reset"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: .3s;
  text-decoration: none;
  display: inline-block;
  border: 0;
  padding: 7px 13px;
  font-size: inherit;
  color: #fff;
  background-color: #F1533A;
  cursor: pointer;
}
button:disabled,
.button:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled {
  cursor: default;
  background-color: grey;
}
button:disabled:hover,
.button:disabled:hover,
input[type="submit"]:disabled:hover,
input[type="reset"]:disabled:hover {
  background-color: grey;
}
button:hover, button:focus,
.button:hover,
.button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus {
  background-color: #000000;
}

.button--small {
  padding: 4px 9px;
}

.button--black {
  background-color: #000;
  color: #fff;
}

.button--white {
  background-color: #fff;
  color: #000;
}

table {
  display: block;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  overflow-x: auto;
  white-space: nowrap;
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 15px;
}
table th {
  font-size: 1.6rem;
  text-align: left;
  font-weight: 600;
}
table td,
table th {
  padding: 6px 12px;
  border: 1px solid #d9d7ce;
}
table.no-margin {
  margin-bottom: 0;
}

.carousel {
  position: relative;
  margin-bottom: 2rem;
}

.owl-item {
  padding: 30px;
  background-color: #eee;
}

.owl-dots {
  text-align: center;
  margin-top: 2rem;
}

.owl-dot {
  content: '';
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: #aaa;
  margin: 0 3px;
}
.owl-dot.active {
  background-color: #F1533A;
}

.owl-nav {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -4rem;
}
.owl-nav .owl-prev {
  position: absolute;
  left: 5px;
  font-size: 3rem;
}
.owl-nav .owl-next {
  position: absolute;
  right: 5px;
  font-size: 3rem;
}

.nav ul {
  list-style: none;
  padding-left: 0;
  position: relative;
}
.nav li {
  position: relative;
}

.nav--header {
  display: none;
}
@media (min-width: 800px) {
  .nav--header {
    display: block;
  }
}
.nav--header a {
  display: block;
  padding: 0 15px;
  line-height: 200%;
  color: #000000;
}
.nav--header a:hover, .nav--header a:focus {
  color: #F1533A;
}
.nav--header li.current_page_item,
.nav--header li.current_page_parent {
  background-color: #ddd;
}
.nav--header li {
  display: inline-block;
}
.nav--header li:hover > ul {
  display: block;
}
.nav--header li > ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
}
.nav--header li > ul li {
  display: block;
  width: 200px;
}
.nav--header li > ul a {
  line-height: 120%;
}
.nav--header ul > ul > ul {
  top: 0;
  left: 100%;
}

.site-header__navigation.fixed {
  background: #f7f7f7;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.nav--footer ul {
  width: 100%;
  display: block;
}
@media (min-width: 450px) {
  .nav--footer li {
    display: inline-block;
    width: 49%;
  }
}
.nav--footer li > ul {
  display: none;
}

.burger-menu {
  height: 20px;
  width: 17px;
  display: block;
  position: absolute;
  top: 15px;
  right: 10px;
}
@media (min-width: 800px) {
  .burger-menu {
    display: none;
  }
}
.burger-menu:hover {
  cursor: pointer;
}
.burger-menu span {
  font-size: 12px;
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: #000;
  transition: 0.5s;
}
.burger-menu span:first-child {
  top: 4px;
}
.burger-menu span:last-child {
  top: 16px;
}
.burger-menu.active span {
  opacity: 0;
  top: 50%;
}
.burger-menu.active span:first-child {
  opacity: 1;
  -webkit-transform: rotate(221deg);
          transform: rotate(221deg);
}
.burger-menu.active span:last-child {
  opacity: 1;
  -webkit-transform: rotate(-221deg);
          transform: rotate(-221deg);
}

.container {
  padding: 0 10px;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.col-small, .col-small-1, .col-small-offset-1, .col-small-2, .col-small-offset-2, .col-small-3, .col-small-offset-3, .col-small-4, .col-small-offset-4, .col-small-5, .col-small-offset-5, .col-small-6, .col-small-offset-6, .col-small-7, .col-small-offset-7, .col-small-8, .col-small-offset-8, .col-small-9, .col-small-offset-9, .col-small-10, .col-small-offset-10, .col-small-11, .col-small-offset-11, .col-small-12, .col-small-offset-12 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 1rem;
  padding-left: 1rem;
}
.col-small {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  max-width: 100%;
}
.col-small-1 {
  -ms-flex-preferred-size: 8.3333333333%;
      flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}
.col-small-offset-1 {
  margin-left: 8.3333333333%;
}
.col-small-2 {
  -ms-flex-preferred-size: 16.6666666667%;
      flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}
.col-small-offset-2 {
  margin-left: 16.6666666667%;
}
.col-small-3 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  max-width: 25%;
}
.col-small-offset-3 {
  margin-left: 25%;
}
.col-small-4 {
  -ms-flex-preferred-size: 33.3333333333%;
      flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}
.col-small-offset-4 {
  margin-left: 33.3333333333%;
}
.col-small-5 {
  -ms-flex-preferred-size: 41.6666666667%;
      flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}
.col-small-offset-5 {
  margin-left: 41.6666666667%;
}
.col-small-6 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%;
}
.col-small-offset-6 {
  margin-left: 50%;
}
.col-small-7 {
  -ms-flex-preferred-size: 58.3333333333%;
      flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}
.col-small-offset-7 {
  margin-left: 58.3333333333%;
}
.col-small-8 {
  -ms-flex-preferred-size: 66.6666666667%;
      flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}
.col-small-offset-8 {
  margin-left: 66.6666666667%;
}
.col-small-9 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  max-width: 75%;
}
.col-small-offset-9 {
  margin-left: 75%;
}
.col-small-10 {
  -ms-flex-preferred-size: 83.3333333333%;
      flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}
.col-small-offset-10 {
  margin-left: 83.3333333333%;
}
.col-small-11 {
  -ms-flex-preferred-size: 91.6666666667%;
      flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}
.col-small-offset-11 {
  margin-left: 91.6666666667%;
}
.col-small-12 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}
.col-small-offset-12 {
  margin-left: 100%;
}

.start-small {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: start;
}

.center-small {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.end-small {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: end;
}

.top-small {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.middle-small {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-small {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.around-small {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.between-small {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.first-small {
  -webkit-box-ordinal-group: -9998;
      -ms-flex-order: -9999;
          order: -9999;
}

.last-small {
  -webkit-box-ordinal-group: 10000;
      -ms-flex-order: 9999;
          order: 9999;
}

@media screen and (min-width: 800px) {
  .col-medium, .col-medium-1, .col-medium-offset-1, .col-medium-2, .col-medium-offset-2, .col-medium-3, .col-medium-offset-3, .col-medium-4, .col-medium-offset-4, .col-medium-5, .col-medium-offset-5, .col-medium-6, .col-medium-offset-6, .col-medium-7, .col-medium-offset-7, .col-medium-8, .col-medium-offset-8, .col-medium-9, .col-medium-offset-9, .col-medium-10, .col-medium-offset-10, .col-medium-11, .col-medium-offset-11, .col-medium-12, .col-medium-offset-12 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .col-medium {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-width: 100%;
  }
  .col-medium-1 {
    -ms-flex-preferred-size: 8.3333333333%;
        flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-medium-offset-1 {
    margin-left: 8.3333333333%;
  }
  .col-medium-2 {
    -ms-flex-preferred-size: 16.6666666667%;
        flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-medium-offset-2 {
    margin-left: 16.6666666667%;
  }
  .col-medium-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .col-medium-offset-3 {
    margin-left: 25%;
  }
  .col-medium-4 {
    -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-medium-offset-4 {
    margin-left: 33.3333333333%;
  }
  .col-medium-5 {
    -ms-flex-preferred-size: 41.6666666667%;
        flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-medium-offset-5 {
    margin-left: 41.6666666667%;
  }
  .col-medium-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .col-medium-offset-6 {
    margin-left: 50%;
  }
  .col-medium-7 {
    -ms-flex-preferred-size: 58.3333333333%;
        flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-medium-offset-7 {
    margin-left: 58.3333333333%;
  }
  .col-medium-8 {
    -ms-flex-preferred-size: 66.6666666667%;
        flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-medium-offset-8 {
    margin-left: 66.6666666667%;
  }
  .col-medium-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .col-medium-offset-9 {
    margin-left: 75%;
  }
  .col-medium-10 {
    -ms-flex-preferred-size: 83.3333333333%;
        flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-medium-offset-10 {
    margin-left: 83.3333333333%;
  }
  .col-medium-11 {
    -ms-flex-preferred-size: 91.6666666667%;
        flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-medium-offset-11 {
    margin-left: 91.6666666667%;
  }
  .col-medium-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .col-medium-offset-12 {
    margin-left: 100%;
  }

  .start-medium {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start;
  }

  .center-medium {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .end-medium {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end;
  }

  .top-medium {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .middle-medium {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .bottom-medium {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .around-medium {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .between-medium {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .first-medium {
    -webkit-box-ordinal-group: -9998;
        -ms-flex-order: -9999;
            order: -9999;
  }

  .last-medium {
    -webkit-box-ordinal-group: 10000;
        -ms-flex-order: 9999;
            order: 9999;
  }
}
@media screen and (min-width: 1000px) {
  .col-large, .col-large-1, .col-large-offset-1, .col-large-2, .col-large-offset-2, .col-large-3, .col-large-offset-3, .col-large-4, .col-large-offset-4, .col-large-5, .col-large-offset-5, .col-large-6, .col-large-offset-6, .col-large-7, .col-large-offset-7, .col-large-8, .col-large-offset-8, .col-large-9, .col-large-offset-9, .col-large-10, .col-large-offset-10, .col-large-11, .col-large-offset-11, .col-large-12, .col-large-offset-12 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .col-large {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-width: 100%;
  }
  .col-large-1 {
    -ms-flex-preferred-size: 8.3333333333%;
        flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-large-offset-1 {
    margin-left: 8.3333333333%;
  }
  .col-large-2 {
    -ms-flex-preferred-size: 16.6666666667%;
        flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-large-offset-2 {
    margin-left: 16.6666666667%;
  }
  .col-large-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .col-large-offset-3 {
    margin-left: 25%;
  }
  .col-large-4 {
    -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-large-offset-4 {
    margin-left: 33.3333333333%;
  }
  .col-large-5 {
    -ms-flex-preferred-size: 41.6666666667%;
        flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-large-offset-5 {
    margin-left: 41.6666666667%;
  }
  .col-large-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .col-large-offset-6 {
    margin-left: 50%;
  }
  .col-large-7 {
    -ms-flex-preferred-size: 58.3333333333%;
        flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-large-offset-7 {
    margin-left: 58.3333333333%;
  }
  .col-large-8 {
    -ms-flex-preferred-size: 66.6666666667%;
        flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-large-offset-8 {
    margin-left: 66.6666666667%;
  }
  .col-large-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .col-large-offset-9 {
    margin-left: 75%;
  }
  .col-large-10 {
    -ms-flex-preferred-size: 83.3333333333%;
        flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-large-offset-10 {
    margin-left: 83.3333333333%;
  }
  .col-large-11 {
    -ms-flex-preferred-size: 91.6666666667%;
        flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-large-offset-11 {
    margin-left: 91.6666666667%;
  }
  .col-large-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .col-large-offset-12 {
    margin-left: 100%;
  }

  .start-large {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start;
  }

  .center-large {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .end-large {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end;
  }

  .top-large {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .middle-large {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .bottom-large {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .around-large {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .between-large {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .first-large {
    -webkit-box-ordinal-group: -9998;
        -ms-flex-order: -9999;
            order: -9999;
  }

  .last-large {
    -webkit-box-ordinal-group: 10000;
        -ms-flex-order: 9999;
            order: 9999;
  }
}
@media screen and (min-width: 1200px) {
  .col-huge, .col-huge-1, .col-huge-offset-1, .col-huge-2, .col-huge-offset-2, .col-huge-3, .col-huge-offset-3, .col-huge-4, .col-huge-offset-4, .col-huge-5, .col-huge-offset-5, .col-huge-6, .col-huge-offset-6, .col-huge-7, .col-huge-offset-7, .col-huge-8, .col-huge-offset-8, .col-huge-9, .col-huge-offset-9, .col-huge-10, .col-huge-offset-10, .col-huge-11, .col-huge-offset-11, .col-huge-12, .col-huge-offset-12 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .col-huge {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-width: 100%;
  }
  .col-huge-1 {
    -ms-flex-preferred-size: 8.3333333333%;
        flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-huge-offset-1 {
    margin-left: 8.3333333333%;
  }
  .col-huge-2 {
    -ms-flex-preferred-size: 16.6666666667%;
        flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-huge-offset-2 {
    margin-left: 16.6666666667%;
  }
  .col-huge-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .col-huge-offset-3 {
    margin-left: 25%;
  }
  .col-huge-4 {
    -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-huge-offset-4 {
    margin-left: 33.3333333333%;
  }
  .col-huge-5 {
    -ms-flex-preferred-size: 41.6666666667%;
        flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-huge-offset-5 {
    margin-left: 41.6666666667%;
  }
  .col-huge-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .col-huge-offset-6 {
    margin-left: 50%;
  }
  .col-huge-7 {
    -ms-flex-preferred-size: 58.3333333333%;
        flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-huge-offset-7 {
    margin-left: 58.3333333333%;
  }
  .col-huge-8 {
    -ms-flex-preferred-size: 66.6666666667%;
        flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-huge-offset-8 {
    margin-left: 66.6666666667%;
  }
  .col-huge-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .col-huge-offset-9 {
    margin-left: 75%;
  }
  .col-huge-10 {
    -ms-flex-preferred-size: 83.3333333333%;
        flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-huge-offset-10 {
    margin-left: 83.3333333333%;
  }
  .col-huge-11 {
    -ms-flex-preferred-size: 91.6666666667%;
        flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-huge-offset-11 {
    margin-left: 91.6666666667%;
  }
  .col-huge-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .col-huge-offset-12 {
    margin-left: 100%;
  }

  .start-huge {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start;
  }

  .center-huge {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .end-huge {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end;
  }

  .top-huge {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .middle-huge {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .bottom-huge {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .around-huge {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .between-huge {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .first-huge {
    -webkit-box-ordinal-group: -9998;
        -ms-flex-order: -9999;
            order: -9999;
  }

  .last-huge {
    -webkit-box-ordinal-group: 10000;
        -ms-flex-order: 9999;
            order: 9999;
  }
}
.site-header {
  position: relative;
  padding: 30px 0;
}

.site-header__top {
  margin-bottom: 30px;
}

.site-footer {
  padding: 0 10px;
  margin-top: 2rem;
}

form > * + *,
form fieldset > * + * {
  margin: 2rem 0;
}
form label {
  display: block;
  position: relative;
  font-weight: 600;
  margin-bottom: 10px;
}
form input:not([type='checkbox']):not([type='radio']):not([type='submit']),
form select,
form textarea {
  padding: 9px 11px;
  outline: none;
  font-size: inherit;
  border: 1px solid #ddd;
  width: 100%;
}
form textarea {
  min-height: 150px;
}
form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  background-color: #fff;
}
form input[type="checkbox"],
form input[type="radio"] {
  font-size: 1.6rem;
}
form input[type="file"] {
  font-size: 1.6rem;
}
form .label--inline {
  display: inline-block;
  font-weight: 400;
}
form .label--inline + * {
  margin-left: 10px;
}

.mm-hidden {
  display: none !important;
}

.mm-wrapper {
  overflow-x: hidden;
  position: relative;
}

.mm-menu {
  box-sizing: border-box;
  background: inherit;
  display: block;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.mm-panels,
.mm-panels > .mm-panel {
  background: inherit;
  border-color: inherit;
  box-sizing: border-box;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.mm-panels {
  overflow: hidden;
}

.mm-panel {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.mm-panel.mm-opened {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.mm-panel.mm-subopened {
  -webkit-transform: translate(-30%, 0);
          transform: translate(-30%, 0);
  -webkit-transform: translate3d(-30%, 0, 0);
          transform: translate3d(-30%, 0, 0);
}

.mm-panel.mm-highest {
  z-index: 2;
}

.mm-panel.mm-noanimation {
  transition: none !important;
}

.mm-panel.mm-noanimation.mm-subopened {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.mm-panels > .mm-panel {
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 20px;
}

.mm-panels > .mm-panel.mm-hasnavbar {
  padding-top: 40px;
}

.mm-panels > .mm-panel:not(.mm-hidden) {
  display: block;
}

.mm-panels > .mm-panel:after,
.mm-panels > .mm-panel:before {
  content: '';
  display: block;
  height: 20px;
}

.mm-vertical .mm-panel {
  -webkit-transform: none !important;
          transform: none !important;
}

.mm-listview .mm-vertical .mm-panel,
.mm-vertical .mm-listview .mm-panel {
  display: none;
  padding: 10px 0 10px 10px;
}

.mm-listview .mm-vertical .mm-panel .mm-listview > li:last-child:after,
.mm-vertical .mm-listview .mm-panel .mm-listview > li:last-child:after {
  border-color: transparent;
}

.mm-vertical li.mm-opened > .mm-panel,
li.mm-vertical.mm-opened > .mm-panel {
  display: block;
}

.mm-listview > li.mm-vertical > .mm-next,
.mm-vertical .mm-listview > li > .mm-next {
  box-sizing: border-box;
  height: 40px;
  bottom: auto;
}

.mm-listview > li.mm-vertical.mm-opened > .mm-next:after,
.mm-vertical .mm-listview > li.mm-opened > .mm-next:after {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  right: 19px;
}

.mm-btn {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  z-index: 1;
}

.mm-panels li.current_page_item {
  background: #212121;
}

.mm-clear:after,
.mm-clear:before,
.mm-close:after,
.mm-close:before {
  content: '';
  border: 2px solid transparent;
  display: block;
  width: 5px;
  height: 5px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mm-clear:before,
.mm-close:before {
  border-right: none;
  border-bottom: none;
  right: 18px;
}

.mm-clear:after,
.mm-close:after {
  border-left: none;
  border-top: none;
  right: 25px;
}

.mm-next:after,
.mm-prev:before {
  content: '';
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  display: block;
  width: 8px;
  height: 8px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
}

.mm-prev:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 23px;
  right: auto;
}

.mm-next:after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  right: 23px;
  left: auto;
}

.mm-navbar {
  border-bottom: 1px solid;
  border-color: inherit;
  text-align: center;
  line-height: 20px;
  height: 40px;
  padding: 0 40px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.mm-navbar > * {
  display: block;
  padding: 10px 0;
}

.mm-navbar a,
.mm-navbar a:hover {
  text-decoration: none;
}

.mm-navbar .mm-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mm-navbar .mm-btn:first-child {
  left: 0;
}

.mm-navbar .mm-btn:last-child {
  text-align: right;
  right: 0;
}

.mm-panel .mm-navbar {
  display: none;
}

.mm-panel.mm-hasnavbar .mm-navbar {
  display: block;
}

.mm-listview,
.mm-listview > li {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}

.mm-listview {
  font: inherit;
  font-size: 14px;
  line-height: 20px;
}

.mm-listview a,
.mm-listview a:hover {
  text-decoration: none;
}

.mm-listview > li {
  position: relative;
}

.mm-listview > li,
.mm-listview > li .mm-next,
.mm-listview > li .mm-next:before,
.mm-listview > li:after {
  border-color: inherit;
}

.mm-listview > li > a,
.mm-listview > li > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: inherit;
  display: block;
  padding: 10px 10px 10px 20px;
  margin: 0;
}

.mm-listview > li:not(.mm-divider):after {
  content: '';
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.mm-listview .mm-next {
  background: rgba(3, 2, 1, 0);
  width: 50px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}

.mm-listview .mm-next:before {
  content: '';
  border-left-width: 1px;
  border-left-style: solid;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.mm-listview .mm-next + a,
.mm-listview .mm-next + span {
  margin-right: 50px;
}

.mm-listview .mm-next.mm-fullsubopen {
  width: 100%;
}

.mm-listview .mm-next.mm-fullsubopen:before {
  border-left: none;
}

.mm-listview .mm-next.mm-fullsubopen + a,
.mm-listview .mm-next.mm-fullsubopen + span {
  padding-right: 50px;
  margin-right: 0;
}

.mm-panels > .mm-panel > .mm-listview {
  margin: 20px -20px;
}

.mm-panels > .mm-panel > .mm-listview:first-child,
.mm-panels > .mm-panel > .mm-navbar + .mm-listview {
  margin-top: -20px;
}

.mm-menu {
  background: #2e2e2e;
  border-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.mm-menu .mm-navbar > *,
.mm-menu .mm-navbar a {
  color: white;
}

.mm-menu .mm-btn:after,
.mm-menu .mm-btn:before {
  border-color: rgba(255, 255, 255, 0.4);
}

.mm-menu .mm-listview {
  border-color: rgba(255, 255, 255, 0.1);
}

.mm-menu .mm-listview > li .mm-next:after {
  border-color: rgba(255, 255, 255, 0.4);
}

.mm-menu .mm-listview > li a:not(.mm-next) {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.5);
  tap-highlight-color: black;
}

.mm-menu .mm-listview > li.mm-selected > a:not(.mm-next),
.mm-menu .mm-listview > li.mm-selected > span {
  background: rgba(0, 0, 0, 0.5);
}

.mm-menu .mm-listview > li.mm-opened.mm-vertical > .mm-panel,
.mm-menu .mm-listview > li.mm-opened.mm-vertical > a.mm-next,
.mm-menu.mm-vertical .mm-listview > li.mm-opened > .mm-panel,
.mm-menu.mm-vertical .mm-listview > li.mm-opened > a.mm-next {
  background: rgba(255, 255, 255, 0.05);
}

.mm-menu .mm-divider {
  background: rgba(255, 255, 255, 0.05);
}

.mm-page {
  box-sizing: border-box;
  position: relative;
}

.mm-slideout {
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  z-index: 1;
}

html.mm-opened {
  overflow-x: hidden;
  position: relative;
}

html.mm-blocking {
  overflow: hidden;
}

html.mm-blocking body {
  overflow: hidden;
}

html.mm-background .mm-page {
  background: inherit;
}

#mm-blocker {
  background: rgba(3, 2, 1, 0);
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

html.mm-blocking #mm-blocker {
  display: block;
}

.mm-menu.mm-offcanvas {
  z-index: 0;
  display: none;
  position: fixed;
}

.mm-menu.mm-offcanvas.mm-opened {
  display: block;
}

.mm-menu.mm-offcanvas.mm-no-csstransforms.mm-opened {
  z-index: 10;
}

.mm-menu.mm-offcanvas {
  width: 80%;
  min-width: 140px;
  max-width: 340px;
}

html.mm-opening .mm-menu ~ .mm-slideout {
  -webkit-transform: translate(80%, 0);
          transform: translate(80%, 0);
  -webkit-transform: translate3d(80%, 0, 0);
          transform: translate3d(80%, 0, 0);
}

@media all and (max-width: 175px) {
  html.mm-opening .mm-menu ~ .mm-slideout {
    -webkit-transform: translate(140px, 0);
            transform: translate(140px, 0);
    -webkit-transform: translate3d(140px, 0, 0);
            transform: translate3d(140px, 0, 0);
  }
}
@media all and (min-width: 550px) {
  html.mm-opening .mm-menu ~ .mm-slideout {
    -webkit-transform: translate(340px, 0);
            transform: translate(340px, 0);
    -webkit-transform: translate3d(340px, 0, 0);
            transform: translate3d(340px, 0, 0);
  }
}
.mm-sronly {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  white-space: nowrap !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
}

.mm-menu.mm-offcanvas.mm-right {
  left: auto;
}

html.mm-right.mm-opening .mm-menu ~ .mm-slideout {
  -webkit-transform: translate(-80%, 0);
          transform: translate(-80%, 0);
  -webkit-transform: translate3d(-80%, 0, 0);
          transform: translate3d(-80%, 0, 0);
}

@media all and (max-width: 175px) {
  html.mm-right.mm-opening .mm-menu ~ .mm-slideout {
    -webkit-transform: translate(-140px, 0);
            transform: translate(-140px, 0);
    -webkit-transform: translate3d(-140px, 0, 0);
            transform: translate3d(-140px, 0, 0);
  }
}
@media all and (min-width: 550px) {
  html.mm-right.mm-opening .mm-menu ~ .mm-slideout {
    -webkit-transform: translate(-440px, 0);
            transform: translate(-440px, 0);
    -webkit-transform: translate3d(-440px, 0, 0);
            transform: translate3d(-440px, 0, 0);
  }
}
html.mm-front .mm-slideout {
  -webkit-transform: none !important;
          transform: none !important;
  z-index: 0;
}

html.mm-front #mm-blocker {
  z-index: 1;
}

html.mm-front .mm-menu.mm-offcanvas {
  z-index: 2;
}

.mm-menu.mm-offcanvas.mm-front,
.mm-menu.mm-offcanvas.mm-next {
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}

.mm-menu.mm-offcanvas.mm-front.mm-right,
.mm-menu.mm-offcanvas.mm-next.mm-right {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

.mm-menu.mm-offcanvas.mm-top {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

.mm-menu.mm-offcanvas.mm-bottom {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}

.mm-menu.mm-offcanvas.mm-bottom,
.mm-menu.mm-offcanvas.mm-top {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.mm-menu.mm-offcanvas.mm-bottom {
  top: auto;
}

html.mm-opening .mm-menu.mm-offcanvas.mm-front,
html.mm-opening .mm-menu.mm-offcanvas.mm-next {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.mm-menu.mm-offcanvas.mm-bottom,
.mm-menu.mm-offcanvas.mm-top {
  height: 80%;
  min-height: 140px;
  max-height: 880px;
}

.adtrak img {
  max-width: 120px;
}

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none;
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */